/*
Hex colors are 6ECDE8, 4DC2C3, A9D48B
*/

html body {
	padding: 0;
	margin: 0;
}


#bodybody {
/*	background-color: rgba(0, 0, 0, 0.1);*/
	padding: 10px 20px 40px 20px;
}

.left img {
	margin-top: -15px;
/*	padding-top: 6px;*/
	float: left;
	height: 155px;
}

.right {
	float: right;
	width: 60%;
	padding-top: 20px;
}

.navigation {
	height: 60px;
/*	background-color: #039;*/
/*	background-color: rgba(0, 0, 0, 0.8);*/
	width: 100%;
	float: left;
	font-size: 60px;
	font-family: 'Calibri';
	color: #6ECDE8;
}

.background {
	top: 0px;
	position: absolute;
	height: 700px;
	width: 100%;
	background: url("img/bg.jpg");
	background-size: cover;
	background-position: center;
	background-color: transparent;
	z-index: 1;
}

#black{
	color: #000;
}

.bio {
	top: 700px;
	position: absolute;
	height: 700px;
	width: 100%;
	background: url("img/gplaypattern.png");
	background-repeat: repeat-y repeat-x;
	color: #000;
}


.bodytitle {
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Calibri';
/*	text-decoration: italic;*/
	font-size: 35px;
	z-index: 4;
	color: #4DC2C3;
}

.whitetitle {
	padding-top: 100px;
	font-family: 'Calibri';
	font-size: 50px;
	z-index: 4;
	color: #FFF;
}

.home {
	top: 60px;
	position: absolute;
	height: 700px;
	width: 100%;
	z-index: 3;
}

#biotext{
	font-family: 'Calibri';
	font-size: 30px;
}

.text{
	font-family: 'Calibri';
	font-size: 16px;
}

.topspace120 {
	height: 120px;
	width: 100%;
}

#hi {
	font-family: "Calibri";
	font-size: 80px;
}

.center {
	width: 50%;
	color: #FFF;
	margin: auto;
	text-align: center;
	z-index: 4;
}

#centertext{
	margin-top: -10px;
	font-size: 30px;
	font-family: 'Calibri';
}

.cover {
	width: 100%;
	position: absolute;
	height: 700px;
	opacity: .65;
	background-color: #000;
	z-index: 2;
}

.lightcover {
	top: 1400px;
	width: 100%;
	position: absolute;
	height: 700px;
	opacity: .55;
	background-color: #FFF;
	z-index: 2;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.transition {
	position: absolute;
	top: 1400px;
	height: 300px;
	width: 100%;
	background-color: #2EBDF5;
}

.portfolio {
	top: 1700px;
	position: absolute;
/*	background: url("img/Miri.jpg");
	background-size: cover;
	background-position: center;*/
	background-color: #000;
	height: 800px;
	width: 100%;
	z-index: 1;
}

nav {
	display: block;
}

a {
	text-decoration: none;
	color: #6ECDE8;
}
ul li ul a {
	color: #FFF;
}

ul li ul a:hover {
	color: #FFF;
}

a:hover {
/*	color: #4DC2C3;*/
	color: #36465D;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@font-face{ 
	font-family: 'Junction';
	src: url('fonts/Junction-webfont.eot');
	src: url('fonts/Junction-webfont.eot?iefix') format('eot'),
	     url('fonts/Junction-webfont.woff') format('woff'),
	     url('fonts/Junction-webfont.ttf') format('truetype'),
	     url('fonts/Junction.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Bebas Neue Thin' ;
	src: url('fonts/BebasNeue Thin.ttf') format('truetype');
}

@font-face{ 
	font-family: 'Bebas Neue Regular';
	src: url('fonts/BebasNeue Regular.ttf') format('truetype');
}

@font-face{ 
	font-family: 'Journal';
	src: url('fonts/journal.ttf') format('truetype');
}


li {
	float: left;
	padding-top: 25px;
	font-family: 'Calibri';
	font-size: 24px;
	padding-right: 10px;
	padding-left: 10px;
	height: 100%;
}


ul li {
  display: inline-block;
/*  margin-right: -15px;*/
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
/*  width: 190px;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
	width: 185px;
  background: #6ECDE8; 
  display: block; 
  margin-left: 10px;
  padding: 13px 10px;
  color: #FFF;
  font-size: 14px;
/*  text-shadow: 0 -1px 0 #000;*/
}
ul li ul li:hover { background: #4DC2C3; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

fieldset {
	margin-top: 20px;
/*	left: 100%;*/
	width: 600px;
	margin-left: -10px;
	display: block;
	margin-bottom: 30px;
	border: none;

}

button {  
	font-family: 'Calibri';
	margin-top: 10px;
    width: 220px;  
    padding: 4px 0px;  
    background: #A9D48B;  
    border: 0;  
    font-size: 20px;  
    color: #FFF;  
/*    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px; */
    } 

input {   
	padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 200px;  
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    /*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
*//*    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; */
    } 
input:hover, textarea:hover,  
input:focus, textarea:focus {   
    border-color: #C9C9C9;   
/*    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;   */
    } 
