.left {
	float: left;
	width: 20%;
}

.right {
	float: right;
	width: 80%;
}

.first{
	font-family: 'Raleway';
	font-size: 16px;
	height: 250px;
/*	padding-top: 10px;
	padding-bottom: 20px;*/
}

.minibodytitle {
	font-family: 'Bebas Neue Regular';
	font-size: 20px;
}

img {
	height: 170px;
	width: 170px;
}