/**
 * form.css
 * CS50 Final Project
 *
 * @author: George Zhang
 * @author: Michael O'Brien
 * @author: Leia Wedlund
 *
 * CSS for form pages
 */

form {
	width: 550px;
	height: auto;
	background: -webkit-linear-gradient(top left, #6ECDE8, #9FCD73);
	margin: auto;
	position: relative;
	font-weight: normal;
	font-style: italic;
	padding: 30px 50px 30px 50px;
	border: 1px solid #999999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.instructions {
	margin-top: -20px;
}

.required {
	color: red;
	position: relative;
	float: left;
	margin-bottom: -8px;
	margin-left: 5px;
}

span {
	position: relative;
	float: left;
}

span.number {
	margin-bottom: 7px;
}

input {
	width: 450px;
	height: 25px;
	display: block;
	border: 1px solid #999999;
	padding: 1px 5px 1px 5px;
	font-weight: normal;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
	width: 450px;
	height: 100px;
	border: 1px solid #999999;
	padding: 1px 5px 1px 5px;
	font-weight: normal;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

select {
	width: 450px;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	font-weight: normal;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

select#skill {
	width: 431px;
	position: relative;
	float: right;
	margin-left: 5px;
}

button {
	width: 100px;
	height: 30px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #999999;
}

textarea:focus, input:focus {
	border: 1px solid #0099CC;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}