/**
 * home.css
 * CS50 Final Project
 *
 * @author: George Zhang
 * @author: Michael O'Brien
 * @author: Leia Wedlund
 *
 * CSS for home page.
 */

#slideshow {
	height: 425px;
	width: 100%;
	min-width: 1000px;
	background: -webkit-radial-gradient(#9FCD73, #6ECDE8);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
}

#content {
	width: 70%;
 	min-width: 1000px;
 	display: inline-table;
 	margin-left: auto;
    margin-right: auto;
    overflow: auto;
    text-align: left;
}

.panel {
	width: 30%;
	min-width: 300px;
	float: left;
}

.blank {
	width: 5%;
	min-width: 50px;
	float:left;
	position: relative;
}

/* Easy Slider */

#slider ul, #slider li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider li, #slider2 li{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width: 1000px;
	height: 400px;
	margin-top: 25px;
	overflow:hidden; 
}	

#slider ul li img {
	height: 100%;
	margin-left: 4%;
}
	
/* numeric controls */	

ol#controls{
	margin: -1em 0;
	padding: 0;
	height: 28px;	
	float: right;
}
ol#controls li{
	margin: 0 10px 0 0; 
	padding: 0;
	float: left;
	list-style: none;
	height: 28px;
	line-height: 28px;
}
ol#controls li a{
	float: left;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ccc;
	background: #DAF3F8;
	color: #555;
	padding: 0 10px;
	text-decoration: none;
}
ol#controls li.current a{
	background: #5DC9E1;
	color: #fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {
	outline: none;
}
	
/* // Easy Slider */